<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Instructors</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header>
    <h1 class="title">Our Instructors</h1>
    <div class="red-bar"></div>
    <nav class="nav-buttons">
        <a href="/requirements" class="nav-button requirements">Requirements</a>
        <a href="/instructors" class="nav-button instructors">Instructors</a>
        <a href="/pledges" class="nav-button pledges">Pledges</a>
        <a href="/photos" class="nav-button photos">Photos</a>
        <a href="/" class="nav-button home">Home</a>
    </nav>

</header>
</body>
</html>

