<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<div class="image-container">
    <img src="" alt="Place Holder for photos" />
    <!--    <img src="/Images/Second Belt Requirements.png" alt="Belt Requirements 2" />-->
    <!--    <img src="/Images/Third Belt Requirements.png" alt="Belt Requirements 3" />-->
    <!-- Add more images as needed -->
</div>
<header>
    <div class="red-bar"></div>
    <!-- Add class to navigation links -->
    <nav class="nav-buttons">
        <a href="/requirements" class="nav-button requirements">Requirements</a>
        <a href="/pledges" class="nav-button pledges">Pledges</a>
        <a href="/instructors" class="nav-button instructors">Photos</a>
        <a href="/" class="nav-button home">Home</a>
    </nav>

</header>
</body>
</html>