<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Belt Requirements</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<!-- Header for Belt Requirements -->
<h1>Belt Requirements</h1>

<div class="image-container">
    <img src="/Images/White Belt to Yellow Belt Requirements.png" alt="Belt Requirements 1" />
<!--    <img src="/Images/Second Belt Requirements.png" alt="Belt Requirements 2" />-->
<!--    <img src="/Images/Third Belt Requirements.png" alt="Belt Requirements 3" />-->
    <!-- Add more images as needed -->
</div>

<nav>
    <ul>
        <li><a href="/requirements">Requirements</a></li>
        <li><a href="/pledges">Pledges</a></li>
        <li><a href="/photos">Photos</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

</body>
</html>
